<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<meta name="viewport" content="width=device-width, user-scalable=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" src="./js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="./js/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>
	<div class="header">
		<img src="./images/csdn.png">个人中心
		<a class="user" href="#" ref="user"><img src="./images/tip3.jpg"></a>
	</div>
	<div class="container">
		<div class="user-content">
			<div class="usermes">
				<img src="./images/tip3.jpg">
				<p>海贼王三代目</p>
				<a href="#">关注 <span>9</span></a>
				<a href="#">粉丝 <span>99999</span></a>
			</div>
			<div class="wealth">
				<a class="integral" href="#">积分 <span>999</span></a>
				<a class="coin" href="#">C币 <span>999</span></a>
				<span class="recharge">C币不够？点击 <a href="#" class="recharge-btn">充值</a></span>
			</div>
			<div class="num">
				<a class="download" href="#">下载 <span>下载<i>999</i></span></a>
				<a class="blog" href="#">博客 <span>博客<i>999</i></span></a>
			</div>
		</div>
		<div class="user-list">
			<a href="#">我的博客</a>
			<a href="#">我的收藏</a>
			<a href="#">我的下载</a>
		</div>
		<button class="quit">退出登录</button>
	</div>
</body>
</html>